<div>
    <button class="btn btn-primary" (click)="addUser()">Add user</button>
    <table class="table">
        <thead>
            <tr>
                <th>name</th>
                <th>first name</th>
                <th>last name</th>
                <th>email</th>
                <th>birth date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users$ | async">
                <td>{{user.name}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.birthDate}}</td>
            </tr>
        </tbody>
    </table>
</div>