<div class="list-user-component">
    <button class="btn btn-primary add-user" (click)="addUser()">Add user</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Birth date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of getDataSet()">
                <td>{{user.name}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.birthDate}}</td>
            </tr>
        </tbody>
    </table>
    <nav *ngIf="totalPages>0" aria-label="navigation">
        <ul class="pagination">
            <li class="page-item" [ngClass]="{disabled: page == 1}">
                <a class="page-link" tabindex="-1" (click)="turnPage(page - 1)">Previous</a>
            </li>
            <li *ngFor="let index of pages" [ngClass]="{active: page == index}" class="page-item">
                <a class="page-link" (click)="turnPage(index)">
                    {{index}}
                    <span *ngIf="page==index" class="sr-only">(current)</span>
                </a>
            </li>
            <li class="page-item" [ngClass]="{disabled: page == totalPages}">
                <a class="page-link" (click)="turnPage(page + 1)">Next</a>
            </li>
        </ul>
    </nav>
</div>